.input{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(48, 48, 45) ;
    font-size: 1.4em;
    padding: 0.5em;
    color: white;
    font-weight: bold;
  outline: 1px solid #888;

}